
.photos{

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        img {
            max-height: 300px;
            @media (max-width: 850px) {
                max-height: 400px;
             }
        }
        .photo-wrapper {
            margin: 20px;
        }
    }
}