
.photos{

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        img {
            height: 300px;
            @media (max-width: 850px) {
                height: unset;
                width: 100%;
             }
        }
        .photo-wrapper {
            margin: 20px;
        }
    }
}